<!DOCTYPE html>
<html ng-app="app">

<head>

	<link href="arquivo.css" rel="stylesheet" />
	<link href="login_sign.js" rel="javascript" />

	<!-- Angular -->
	<script src="js/lib/angular.min.js"></script>
    <script src="js/lib/angular-route.min.js"></script>
    <script src="js/lib/angular-ui-router.min.js"></script>
    <script src="js/lib/angular-sanitize.min.js"></script>
    <script src="js/lib/angular-animate.min.js"></script>
    <script src="js/lib/angular-aria.min.js"></script>
    
    <!-- Angular Material -->
    <script src="js/lib/angular-material.min.js"></script>
    <link rel="stylesheet" href="css/angular-material.min.css">

    <!-- App -->
    <script src="js/app.js"></script>
    <script src="js/router/state.js"></script>
	
    <!-- Service -->
    <script src="js/service/professorService.js"></script>

    <!-- controller -->
    <script src="js/controller/professorController.js"></script>

</head>

<body>

	<div id="box-div" ng-controller="professorController">
	<div class="login-box">
		<div class="lb-header">
			<a href="#" class="active" id="signup-box-link" >Cadastro</a>
			<a href="loginPage.html" id="login-box-link">Login</a>
		</div>
		<div class="social-login">
			<a href="#">
				<i class="fa fa-facebook fa-lg"></i>
				Facebook
			</a>
			<a href="#">
				<i class="fa fa-google-plus fa-lg"></i>
				Google
			</a>
		</div>
		<form name="formSign" class="email-signup" method="post" ng-submit="cadastrarProfessor()">
			<div class="u-form-group">
				<input id="email" type="email" name="email" placeholder="Email" required="required" ng-model="professor.email"/>
			</div>
			<div class="u-form-group">
				<input type="password" placeholder="Senha" required="required" ng-model="professor.senha"/>
			</div>
			<div class="u-form-group">
				<input type="password" placeholder="Confirmar Senha" required="required"/>
			</div>
			<div class="u-form-group">
				<a class="modal-action modal-close waves-effect waves-green btn-flat" type="submit" name="action" href="index.html">Cadastrar</a>
            </div>
		</form>
    </div>
    </div>

</body>

</html>
